@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

body {
  margin: 0;
  font-family: 'Assistant', sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #454545;
}

a {
  text-decoration: none;
  color: #ff6848;
}

a:visited {
  color: #ff6848;
}

a:hover {
  text-decoration: underline;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 0 4px 0 grey;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
}

.nav-links {
  display: flex;
}

a.nav-link {
  margin: 5px;
  text-decoration: none;
  color:#565656;
}

a.selected {
  color: #ff6848;
  border-bottom: 1px solid #ff6848;
}

.nav-links p {
  margin-left: 10px;
}

.logo {
  display: flex;
  cursor: pointer;
}

.site-title {
  font-family: 'Sacramento', cursive;
  margin: 10px;
  font-size: 35px;
  align-self: center;
  font-weight: normal;
  color: #454545;
}

.story-card {
  border: solid 1px lightgrey;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  color: #555555;
  box-shadow: 0 2px 2px 0 lightgrey;
}

.story-card:hover {
  border: 2px solid #ff6848
}

.story-info {
  margin: 10px;
}

.story-info h2 {
  margin: 0px;
  margin-left: 0px;
}

.story-info h4 {
  margin: 10px;
  margin-left: 0px;
}

.rating {
  display: flex;
  align-items: flex-end;
  color: #9f9f9f;
}

.rating p {
  margin: 0px;
}

.story-buttons {
  display: flex;
  margin-left: 300px;
  margin-right: 300px;
  justify-content: center;
}

.story-buttons button {
  width: 300px;
  height: 30px;
  font-size: 16px;
  font-weight: 700;
}

.choices-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
}

.choice-card {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  cursor: pointer;
  color: white;
  font-weight: 700;
  background-color: #6cc2d6;
}

.choice-card:hover {
  /* border: 2px solid #ff6848; */
  box-shadow: 0 4px 4px 0 lightgrey;
}

.story-editor {
  display: grid;
  grid-template: "display options";
  grid-template-columns: auto min-content;
  /* margin-right: 300px; */
  /* margin-left: 300px; */
}

.story-options {
  grid-area: options;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-content: center;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: #f8f9f9;
}

.story-options textarea {
  width: 200px;
  background-color:#f8f9f9;
}

.story-options button {
  width: auto;
  align-self: center;
}

button.side-collapse-button {
  background-color: #f8f9f9;
  align-self: flex-start;
  margin: 0;
  padding: 0;
}

.side-collapse {
  width: 20px;
  opacity: 0.3;
}

.side-collapse:hover {
  opacity: 0.9;
}

.side-collapse-button:hover {
  box-shadow: none;
}

.story-options-collapsed {
  grid-area: options;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-content: center;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: #f8f9f9;
}

.scene-display {
  grid-area: display;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.scene-display button {
  margin-bottom: 5px;
}

.scene-drag-area {
  border: 1px solid #454545;
  border-radius: 10px;
  position: relative;
  height: 75vh;
  width: auto;
  margin-bottom: 10px;
}

.scene-title {
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* background-color:#f8f9f9; */
  background-color: pink;
  width: 100px;
  height: 30px;
  position: absolute;
}

.scene button {
  height: fit-content;
}

.scene h4 {
  margin: 0px;
  margin-right: 5px;
}

.scene-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scene-title h3 {
  margin: 0;
}

.scene-title button {
  margin: 0;
  background-color: #e7e7e7;
  color: grey;
}

.scene-form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.scene-info input {
  width: 500px;
  background-color:#f8f9f9;
  border-radius: 3px;
  padding: 5px;
  border: 1px solid grey;
}

.scene-info textarea {
  background-color:#f8f9f9;
}

.scene-button {
  background-color: #e7e7e7;
  width: 100%;
  font-weight: 800;
  font-size: 16px;
  color: grey;
}

.path-area {
  margin: 5px;
}

.path-area button {
  background-color: #e7e7e7;
  color: grey;
  width: fit-content;
  height: fit-content;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 16px;
}

.path {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  /* border-left: 2px solid grey; */
}

.path-details {
  display: flex;
  /* padding-right: 10px; */
  /* padding: 10px; */
  margin-right: 10px;
}

.path-details input {
  width: 150px;
  padding: 5px;
  background-color:#f8f9f9;
  /* height: fit-content; */
  border: 1px solid grey;
  border-radius: 3px;
  background-color:#f8f9f9;
}

.user-forms {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-forms h2 {
  margin: 0;
  margin-top: 20px;
}

.user-forms form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-forms form div {
  margin: 5px;
}

.user-forms form label {
  display: block;
}

.user-forms form input {
  width: 200px;
  padding: 5px;
}

.user-forms form textarea {
  width: 200px;
  padding: 5px;
}

.user-forms-submit[type="submit"] {
  width: 75px;
}

.error-message {
  margin: 0;
  color: #ff6848;
}

.user-details {
  display: grid;
  grid-template: "image name"
                 "image bio"
                 "edit edit";
  margin-left: 300px;
  margin-right: 300px;
}

.user-details img {
  grid-area: image;
  justify-self: center;
  align-self: center;
}

.user-details h2 {
  grid-area: name;
}

.user-details p {
  grid-area: bio;
}

.user-details button {
  grid-area: edit;
  justify-self: right;
}

.filled-stars {
  color: gold;
}

.empty-stars {
  color: black;
}

.stories-list {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.story-details {
  margin-left: 300px;
  margin-right: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.reviews {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 20px;
  border-top: 1px solid lightgrey;
}

.play-area {
  margin-left: 300px;
  margin-right: 300px;
}

.play-area h2 {
  text-align: center;
}

.title-description {
  display: flex;
  flex-direction: column;
}

.title-description input {
  width: 200px;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 3px;
  background-color:#f8f9f9;
}

.publish-save {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
}

.publish-save button {
  margin-right: 5px;
}

button {
  font-family: 'Assistant', sans-serif; 
  font-weight: 600;
  background-color: #ff8a71;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  padding: 7px;
  cursor: pointer;
  border: none;
}

button:hover {
  box-shadow: 0 0 1px 1px lightgrey;
}

button:focus {
  border-radius: 5px;
  outline: none;
}

button:active {
  border-radius: 5px;
}

input[type="submit"] {
  font-family: 'Assistant', sans-serif; 
  font-weight: 600;
  background-color: #6cc2d6;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  padding: 7px;
  cursor: pointer;
  border: none;
}

input[type="submit"]:hover {
  box-shadow: 0 0 1px 1px lightgrey;
}

input[type="submit"]:focus {
  outline: none;
}

.scene-info {
  display: flex;
  flex-direction: column;
}

.scene-submit {
  display: flex;
  justify-content: flex-end;
}

.review-form {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-top: 10px;
}

.review-form h4 {
  margin: 0;
}

.review-form h2 {
  margin: 5px;
}

.single-review {
  display: flex;
  margin: 10px;
}

.user-review {
  margin-left: 10px;
}

textarea {
  font-family:'Assistant', sans-serif; 
  width: 500px;
  resize: vertical;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 3px;
}

.edit-details {
  display: flex;
  justify-content: space-around;
  width: 150px;
  align-items: center;
}

.edit-details button {
  padding: 5px;
  font-size: 14px;
}

.status {
  border: 0px solid lightgrey;
  padding: 5px;
  border-radius: 5px;
  background-color: lightgrey;
  color: white;
  margin: 0;
  font-weight: 600;
  width: fit-content;
}

.story-details-title {
  display: flex;
}

.story-details-title h2 {
  margin: 0;
  margin-right: 10px;
}

.edit-modal {
  position: absolute;
  top: 50px;
  left: 50px;
  right: 50px;
  background-color: white;
  border: solid 1px #454545;
  border-radius: 10px;
}

.modal-inside {
  margin: 20px;
}